Информация о организаторе <br><br>

<td><%= "Имя:" %> <%= @organizer.name %></td> <br>
<td><%= "Описание:" %> <%= @organizer.description %></td><br><br>
<td><%= "Cписок проведённых мероприятий" %></td>